body {
  background: #212122;
  text-align: center;
  margin-top: 15%;
  font-family: 'Tajawal';
  color: #d3d3d3;
}

#title {
  font-weight: normal;
}

#info {
  font-size: 40%;
}

a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: #ffff99;
}
